#showlist {
	width:100%;
	//margin-top:500px;
}

#button_row {
    width: 20%;
}

#fetchbutton {
	width:30%;
	text-align:right
}

/* table, th, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}*/ 

th {
	padding:15px;
	text-align:right;
	font-weight: normal;
	width:25%
}

td {
	padding:15px;
}
